<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
{{ encore_entry_link_tags('app') }}
<body>
    <div class="text-center" style="width: 100%">
        <h2>Login by form</h2>
        <form method="POST" action="{{ path('api_srp_login_prepare') }}" id="login">
            <div class="form-group">
                <label>
                    Email:
                    <input type="text" class="form-control" name="email">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Password:
                    <input type="password" class="form-control" name="password">
                </label>
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>

        {% if error is defined and error %}
            <span>{{ error }}</span>
        {% endif %}
        {% for owner in hwi_oauth_resource_owners() %}
            <p>or login by
                <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a>
            </p>
        {% endfor %}
    </div>
    {{ encore_entry_script_tags('app') }}
</body>
</html>
