<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Caesar Admin Panel</title>
</head>
{{ encore_entry_link_tags('app') }}
<body>
    <div class="text-center" style="width: 100%">
        <img id="admin-panel-logo" src="{{ asset('build/caesar.png') }}" alt="caesar logo admin">
        <h2>Welcome to Caesar. Team. admin panel!</h2>
        <form method="POST" action="{{ path('api_srp_login_prepare') }}" id="login">
            <div class="form-group">
                <label>
                    Email:
                    <input type="text" class="form-control" name="email">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Password:
                    <input type="password" class="form-control" name="password">
                </label>
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>

        {% if error is defined and error %}
            <span>{{ error }}</span>
        {% endif %}

        {% for message in app.flashes('danger') %}
            <div class="text-danger">{{ message }}</div>
        {% endfor %}

        {% for owner in hwi_oauth_resource_owners() %}
            <p>Log in with
                <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') | capitalize }}</a>
            </p>
        {% endfor %}
    </div>
    {{ encore_entry_script_tags('app') }}
</body>
</html>
