{% extends 'email/layout.html.twig' %}

{% block subject %}You’ve been added to to a team: {{ teamName }}.{% endblock %}

{% block body %}
    <h2>Hi!</h2>
    <p>You’ve been added to a team: {{ teamName }}.</p>
    <p><a href="{{ env('WEB_CLIENT_URL') }}">Join {{ env('APP_NAME')|default('Caesar.Team') }}</a></p>
    <p>If you want to manage the team’s secrets, you need to switch teams after logging in. To do that:</p>
    <ol>
        <li>Click on your Username in {{ env('APP_NAME')|default('Caesar.Team') }}</li>
        <li>Click on the "Switch Team" option</li>
        <li>Choose the team and press "Switch"</li>
    </ol>
{% endblock %}
